*{
    background-color: rgb(144, 187, 204)
}
.team{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50pt;
    -webkit-text-stroke: 0.5px black;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-box {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.dima, .ira, .leha {
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}